
.warning {
  composes: flexCenterColumn from '../../global.css';
  position: fixed;
  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;

  z-index: 200;
}

.shadow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;

  animation-name: show-anim;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}
@keyframes show-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

.content {
  background-color: var(--fadedOrangeBgColor);
  animation-name: show-anim;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;

  position: relative;
  width: 900px;
  padding: 30px;
  z-index: 55;
  text-align: center;
  border-radius: 10px;
  border: 7px solid var(--darkOrangeBorderColor);
}

.title {
  color: var(--neonOrangeColor);
  font-size: 30px;
  letter-spacing: 1px;
  font-family: var(--mainFont), cursive;
}

.text {
  color: rgb(193, 86, 10);
  font-family: var(--mainFont), cursive;
  font-size: 20px;
}

.okButton {
  background-color: var(--fadedOrangeBgColor);

  width: 80px;
  height: 80px;
  border-radius: 20px;
  z-index: 70;
  margin-top: 20px;
  font-family: var(--mainFont), cursive;
  border: 7px solid var(--darkOrangeBorderColor);
  color: var(--neonOrangeColor);
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.okButton:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 980px) {
  .content {
    width: 700px;
    padding: 20px;
  }
}

@media screen and (max-width: 757px) {
  .content {
    width: 90vw;
    padding: 10px;
  }
  .text {
    font-size: 17px;
    line-height: 25px;
  }
}
