.warning {
  composes: flexCenterColumn from "../../global.css";
  position: fixed;
  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;

  z-index: var(--firstLayer);
}

.shadow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

  animation-name: show-anim;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}
@keyframes show-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

.content {
  background-color: var(--fadedOrangeBgColor);
  animation-name: show-anim;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;

  position: relative;
  width: 900px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  border: 7px solid var(--darkOrangeBorderColor);
}

.title {
  color: var(--neonOrangeColor);
  font-size: 30px;
  letter-spacing: 1px;
  font-family: var(--mainFont), cursive;
}

.text {
  color: var(--darkOrangeBorderColor);
  font-family: var(--textFont), cursive;
  font-weight: bold;
  font-size: 35px;
}

.okButton {
  z-index: var(--thirdLayer);
  margin-top: 20px;
  font-family: var(--mainFont), cursive;
  border: 7px solid var(--darkOrangeBorderColor);
  color: var(--darkOrangeBorderColor);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;

  background: none;
  border: none;
}

.okButton:hover {
  color: white;
}

@media (max-width: 980px) {
  .content {
    width: 700px;
    padding: 20px;
  }
}

@media (max-width: 757px) {
  .content {
    width: 90vw;
    padding: 10px;
  }
  .text {
    font-size: 17px;
    line-height: 25px;
  }
}
