@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");

.homeMenu {
  composes: darkBgColor from "../../global.css";
  width: 100vw;
  height: 100vh;
}
.latestGame, .miniGames, .artGames{
  transition: 0.6s;
}
.homeButton {
  composes: orangeBgColor from "../../global.css";
  width: 200px;
  height: 50px;
  position: absolute;
  bottom: 30px;
  right: 30px;

  transition: 0.4s;
  color: white;
  font-size: 32px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  box-shadow: 4px 4px 0px 0px rgb(249, 165, 119);
  font-family: "Geo", sans-serif;
}

.homeButton:hover {
  box-shadow: -4px -4px 0px 0px rgb(249, 165, 119);
}

@media screen and (max-width: 900px) {
  .homeButton {
    composes: orangeBgColor from "../../global.css";
    width: 120px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;

    transition: 0.4s;
    color: white;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    box-shadow: 4px 4px 0px 0px rgb(249, 165, 119);
    font-family: "Geo", sans-serif;
  }
}
