.homeMenu {
  background-color: var(--darkBgColor);
  width: 100vw;
  height: 100vh;
}
.latestGame, .miniGames, .artGames{
  transition: 0.6s;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}