.latestGameContainer {
  position: absolute;

  top: 12vh;
  left: 0;
  right: 0;
  margin: 0 auto;

  width: 80vw;
  height: 70vh;

  transition: 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.latestGameContainerBackgroundImage {
  position: absolute;
  width: 100%;
  height: 70vh;

  transition: 0.5s;
  opacity: 0.3;
  filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/games/wallpapers/1.jpg");
}
.content{
  position: absolute;
  /* composes: flexCenter from "../../../../global.css"; */
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 90% 10%;
  width: 80%;
  height: 90%;
  z-index: var(--thirdLayer);
}

.leftContainer {
  /* width: 40%; */
  /* height: 90%; */

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  font-family: var(--textFont);
}

.rightContainer {
  position: relative;
  /* width: 40%; */
  /* height: 90%; */

  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.leftContainer_Div {
  color: var(--neonBlueColor);
  font-size: 35px;
  line-height: 35px;
}

.leftContainer span {
  font-size: 44px;
  color: var(--skyBlueColor);
}

.lastGameVideo {
  position: absolute;
  width: 92%;
  height: 92%;
}

.buttonDiv {
  /* width: min-content; */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* position: absolute;
  left: 10%;
  bottom: 20px; */
}


@media (max-width: 1050px) {
  .content{
    /* flex-direction: column; */
    grid-template-columns: 1fr;
    grid-template-rows: 40% 40% 20%;
  }
  /* .leftContainer{
    width: 80%;
    height: 30%;
  }
  .rightContainer{
    width: 80%;
    height: 60%;
  } */
  /* .lastGameVideo{
    width: 70%;
    height: 70%;
  } */
  .buttonDiv{
    /* left: 0;
    right: 0;
    margin: 0 auto; */
    justify-content: center;
  }
  .descriptionDiv{
    overflow-y: scroll;
  }
}

@media (max-width: 600px) {
  .lastGameVideo{
    width: 90%;
    height: 90%;
  }
}
@media (max-width: 480px){
  .content{
    /* justify-content: flex-start; */
    grid-template-rows: 80% 20%;
  }
  .rightContainer{
    display: none;
  }
  .leftContainer{
    height: 80%;
  }
  .leftContainer_Div{
    font-size: 28px;
  }
  .leftContainer_Div span{
    font-size: 38px;
  }
}
@media (max-height: 600px) {
  .rightContainer{
    display: none;
  }
  .content{
    /* justify-content: flex-start; */
    grid-template-rows: 80% min-content;

  }
  .leftContainer{
    height: 80%;
  }
}
@media (max-height: 760px) {
  .descriptionDiv{
    overflow-y: scroll;
    height: 50%;
  }
}

/* width */
.descriptionDiv::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.descriptionDiv::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.descriptionDiv::-webkit-scrollbar-thumb {
  background: #187391;
  border-radius: 30px;
}

/* Handle on hover */
.descriptionDiv::-webkit-scrollbar-thumb:hover {
  background: #55cdf6;
}
