.latestGameContainer {
  position: fixed;

  left: 0;
  right: 0;
  margin: 0 auto;
  top: 12%;
  width: 80vw;
  height: 70%;


  transition: 0.8s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: var(--thirdLayer);
}

.latestGameContainerBackgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;

  transition: 0.5s;
  opacity: 0.3;
  filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/games/wallpapers/1.jpg");
}
.content{
  position: absolute;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 90% 10%;
  width: 80%;
  height: 100%;
  z-index: var(--thirdLayer);
}

.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  font-family: var(--textFont);
}

.rightContainer {
  composes: flexCenter from '../../../../global.css';
  position: relative;
}

.leftContainer_Div {
  color: var(--neonBlueColor);
  font-size: 35px;
  line-height: 35px;
}

.leftContainer span {
  font-size: 44px;
  font-weight: bold;
  color: var(--skyBlueColor);
}

.lastGameVideo {
  position: absolute;
  width: 92%;
  height: 92%;
}

.buttonDiv {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}


@media (max-width: 1050px) {
  .content{
    grid-template-columns: 1fr;
    grid-template-rows: 40% 40% 20%;
  }
  .buttonDiv{
    justify-content: center;
  }
  .descriptionDiv{
    overflow-y: scroll;
  }
}

@media (max-width: 600px) {
  .latestGameContainer{
    width: 90%;
  }
  .lastGameVideo{
    width: 90%;
    height: 90%;
  }
}
@media (max-width: 480px){
  .content{
    grid-template-rows: 70% 30%;
    gap: 10px;
  }
  .rightContainer{
    display: none;
  }
  .leftContainer_Div{
    font-size: 28px;
  }
  .leftContainer_Div span{
    font-size: 38px;
  }
}
@media (max-height: 600px) {
  .rightContainer{
    display: none;
  }
  .content{
    grid-template-rows: 70% 30%;
    gap: 10px;
  }
  .leftContainer{
    height: 80%;
  }
}
@media (max-height: 760px) {
  .descriptionDiv{
    overflow-y: scroll;
    height: 50%;
  }
}

/* width */
.descriptionDiv::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.descriptionDiv::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.descriptionDiv::-webkit-scrollbar-thumb {
  background: #187391;
  border-radius: 30px;
}

/* Handle on hover */
.descriptionDiv::-webkit-scrollbar-thumb:hover {
  background: #55cdf6;
}
