.intro{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.canvas{
    overflow:hidden;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    margin-top: auto;
    margin-bottom: auto;
    top:0;
    bottom: 0;
}

.openButton{
    composes: flexCenter from '../../global.css';
    color: var(--orangeColor);
    width: 200px;
    border: 3px solid var(--orangeBorderColor);
    background: none;
    font-size: 27px;
    border-style: double;
    padding: 0px 2px;
    font-family: 'Bungee Inline', cursive;
    height: 57px;
    text-align: center;

    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;

    cursor: pointer;
    bottom: 100px;
    transition: 0.3s;
}

.openButton:hover{
    background-color: var(--introOrangeBgColor);
    color: white;
}


@media (max-width: 1300px) {
    .openButton{
        width: 150px;
        font-size: 21px;        
        bottom: 20px;
    }
}

@media (max-width: 800px) {
    .openButton{
        width: 120px;
        font-size: 19px;
        bottom: 10px;
    }
}

@media (max-width: 900px) and (min-height: 617px) {
    .openButton{
        width: 200px;
        font-size: 29px;
        bottom: 30px;
    }
    
}