.leaderBoard {
  composes: flexCenter from "../../global.css";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--firstLayer);
  padding: 10px;
  font-family: var(--universalFont);
}

.leaderBoardContainer {
  composes: flexCenterColumn from "../../global.css";
  background-color: var(--darkBgColor);
  width: 60%;
  height: 60%;
  gap: 10px;
  padding-bottom: 10px;
  z-index: var(--firstLayer);
}
.closeIcon{
  display: none;
  color: var(--whiteColor);
  font-size: 40px;
  position: absolute;
  top: 8px;
  right: 5px;
  cursor: pointer;
}
.gameInfo {
  composes: flexCenter from "../../global.css";
  width: 100%;
}
.gameIcon {
  width: 100px;
  height: 100px;
}

.gameIcon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.currentUser {
  composes: flexCenter from "../../global.css";
  width: 100%;
  gap: 10px;
  color: var(--neonBlueColor);
  text-transform: uppercase;
  font-size: 14px;
}
.currenUserNumber {
  color: var(--fadedOrangeBgColor);
}

.userPosition {
  width: 100%;
  height: 70px;
  color: white;
  column-gap: 15px;
  border-bottom: 1px solid var(--blackBorderColor);
  display: grid;
  grid-template-columns: 70px 50px auto min-content;
  align-items: center;
}
.userName {
  font-size: 19px;
  color: var(--neonBlueColor);
}

.userAvatar {
  composes: flexCenter from '../../global.css';
  height: 70%;
}
.userAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.number {
  composes: flexCenter from "../../global.css";
  color: var(--fadedOrangeBgColor);
  font-size: 20px;
  border-right: 1px solid var(--blackBorderColor);
  height: 100%;
}
.number-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gameScore {
  color: var(--orangeColor);
}

.allScore {
  color: var(--darkCyanColor);
  padding-right: 5px;
}
.leaderBoardList {
  width: 100%;
  height: 70%;
  overflow-y: scroll;
  position: relative;
}

.userBox {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* width */
.leaderBoardList::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.leaderBoardList::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.leaderBoardList::-webkit-scrollbar-thumb {
  background: #187391;
  border-radius: 30px;
}

/* Handle on hover */
.leaderBoardList::-webkit-scrollbar-thumb:hover {
  background: #55cdf6;
}

@media (max-width: 900px) {
  .userBox {
    align-self: flex-end;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .gameScore{
    justify-self: flex-end;
  }
  .allScore{
    align-self: flex-end;
  }
}

@media (max-width: 650px) {
  .closeIcon{
    display: block;
  }
  .leaderBoard{
    padding: 0;
  }
  .leaderBoardContainer {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .userName {
    font-size: 14px;
  }
  .userPosition{
    grid-template-columns: 35px 35px auto min-content;
    column-gap: 5px;
    height: 50px;
  }
  .userAvatar{
    height: 100%;
  }
  .userBox{
    gap: 5px;
  }
}
