.canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181818;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff9f0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #575756;
}

.orientationWarning {
  width: 100vw;
  height: 100vh;

  background-color: rgb(21, 21, 21);
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.orientationWarning h1 {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 90vw;
  height: 20vh;
  text-align: center;
}
