.game {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(235, 97, 97);

  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(25, 25, 25);
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181818;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff9f0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #575756;
}
