.header {
  composes: flexCenter from "../../../../global.css";
  width: 100vw;
  height: 12vh;

  font-weight: bold;
  font-family: var(--mainFont);
  list-style: none;
  gap: 30px;

  position: fixed;
  z-index: 60;
}

.menuLi {
  cursor: pointer;
  color: rgb(62, 92, 90);
  transition: 0.3s;

  font-size: 21px;
  padding: 20px;
  border: 2px solid var(--darkCyanColor);
}
.menuLi:hover {
  color: var(--blueLiColor);
}

.selectedLi {
  font-size: 30px;
  border: 2px solid var(--blueLiColor);
  color: var(--blueLiColor);
}

@media screen and (max-width: 700px) {
  .menuLi {
    font-size: 17px;
    padding: 7px;
    border: 2px solid var(--darkCyanColor);
  }

  .selectedLi {
    font-size: 21px;
    border: 2px solid var(--blueLiColor);
    color: var(--blueLiColor);
  }
}
