.indicators {
  height: 57px;
}

.indicators ul {
  list-style: none;
  width: 50%;
  height: 100%;
  display: flex;
  gap: 20px;
  font-size: 25px;
}

.indicators ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;

  color: var(--smokyWhiteColor);
  transition: 0.4s;
}
.number {
  font-size: 30px;
  cursor: default;
}

.indicators ul li :hover :not(.number) {
  color: var(--neonBlueColor);
}

.dislikeIcon {
  margin-top: 12px;
}

.commentIcon {
  font-size: 20px;
  margin-top: 6px;
}
