/* '../../../../global.css' */

.artGames {
    position: absolute;  
    top: 12vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    width: 100%;
    height: 70vh;
    overflow-y: scroll;

    transition: 0.8s;
    /* background-color: RED; */
  }  
  .scrollDiv{
    width: 10vw;
    position: fixed;
    bottom: 20vh;
    right: 0;
  }
  .artGames::-webkit-scrollbar {
    display: none;
  }
  

  @media (max-width: 600px){
    .artGames{
      height: 80vh;
      width: 90%;
    }
    .scrollDiv{
      bottom: 10vh;
    }
  }
  