/* Top Part */
.topTransition,
.topAnimationUp {
  position: absolute;
  width: 100vw;
  height: 50vh;
  background-color: rgb(255, 219, 193);
  z-index: 100;
  top: -50vh;
  animation: topAnimationDown 1s forwards;
}
.topAnimationUp {
  animation: topAnimationUp 1.5s forwards;
}
/* Bottom Part */
.bottomTransition,
.bottomAnimationDown {
  position: absolute;
  width: 100vw;
  height: 50vh;
  background-color: rgb(255, 219, 193);
  z-index: 100;
  bottom: -50vh;
  animation: bottomAnimationUp 1s forwards;
}
.bottomAnimationDown {
  animation: bottomAnimationDown 1.5s forwards;
}
/* show animations */
@keyframes topAnimationDown {
  from {
    top: -50vh;
  }
  to {
    top: 0;
  }
}
@keyframes bottomAnimationUp {
  from {
    bottom: -50vh;
  }
  to {
    bottom: 0;
  }
}

/* hide animations*/
@keyframes topAnimationUp {
  0% {
    top: 0;
  }
  30% {
    top: 0vh;
  }
  100% {
    top: -50vh;
  }
}
@keyframes bottomAnimationDown {
  0% {
    bottom: 0;
  }
  30% {
    bottom: 0vh;
  }
  100% {
    bottom: -50vh;
  }
}
