.homePageInterface {
  width: 100vw;
  height: 100vh;
  font-family: var(--textFont);
  background-color: var(--fadedWhiteBgColor);
  position: fixed;
  top: 0;
}

.gameHistoryContainer {
  position: absolute;
  width: 50vw;
  height: 40vh;

  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.gameHistoryContainer h2 {
  text-align: center;

  text-transform: uppercase;
  font-size: 30px;
  color: rgb(172, 104, 41);
}

.gamesContainer {
  list-style: none;
  padding: 20px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.gamesItem {
  height: 60px;
}

.gamesItem ul {
  list-style: none;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.gamesItem ul li {
  color: var(--introOrangeBgColor);
  font-size: 26px;
  font-weight: bold;
}

.continueButton {
  color: var(--brownColor);
  text-align: center;
  cursor: pointer;

  transition: 0.3s;
}
.continueButton:hover {
  color: black;
}

.homeIcon {
  position: absolute;

  margin: auto 0;
  top: 0;
  bottom: 0;

  width: min-content;
  height: min-content;
  font-size: 70px;
  cursor: pointer;
  color: var(--iconOrangeColor);

  z-index: var(--secondLayer);

  left: 10px;
  transition: 0.3s;
}

.homeIcon:hover {
  color: #f9bb6b;
}

/* width */
.gamesContainer::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.gamesContainer::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.gamesContainer::-webkit-scrollbar-thumb {
  background: #ffd39a;
}

/* Handle on hover */
.gamesContainer::-webkit-scrollbar-thumb:hover {
  background: #dc783e;
}

.menu {
  composes: flexCenterColumn from '../../../../global.css';
  position: absolute;
  left: 92px;
  width: 0;
  transition: 0.5s;
  width: 280px;
  height: 100vh;

  opacity: 0;
}

.showMenu {
  opacity: 1;
  display: flex;
  background-color: var(--darkBrownBgColor);
}

.menu ul {
  list-style: none;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu ul li {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}
.menu ul li:hover {
  color: var(--darkYellowColor);
}

@media (max-width: 1325px) {
  .menu {
    width: 220px;
    height: 100vh;
  }
}
@media (max-width: 1137px) {
  .gameHistoryContainer {
    position: absolute;
    width: 40vw;
    height: 60vh;
  }
  .continueButton {
    width: 140px;
    height: 30px;
    font-size: 20px !important;
  }
  .gamesItem ul li {
    font-size: 20px;
  }
  .gamesItem {
    height: 70px;
  }

  .menu ul li {
    font-size: 25px;
  }
}

@media (max-width: 950px) {
  .menu {
    width: 100%;
    left: 0%;
    top: 0vh;
    height: 100vh;
  }
  .homeIcon {
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: inherit;
    margin-bottom: inherit;
    bottom: inherit;
    top: 10px;
  }
}

@media (max-width: 600px) {
  .gameHistoryContainer {
    position: absolute;
    height: 60vh;
    width: 70vw;
    margin: 0 auto;
    top: 15%;
  }
  .continueButton {
    width: 100px;
    height: 30px;
    font-size: 20px !important;
  }
  .gameHistoryContainer h2 {
    text-align: center;
    font-size: 30px;
  }
  .gamesItem ul li {
    font-size: 17px;
  }
  .gamesItem {
    height: 70px;
  }
}

@media (max-height: 650px) {
  .gameHistoryContainer{
    margin: 0 auto;
    top: 15%;
  }
}