.userSettingsModal {
  composes: flexCenter from "../../../../global.css";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 21;
}
.settingsContainer {
  composes: flexCenterColumn from "../../../../global.css";
  width: 50%;
  height: 50%;
  background-color: var(--fadedWhiteBgColor);
  font-family: var(--textFont);
  padding: 10px;

  gap: 50px;
}

.userAvatar {
  width: 150px;
  height: 150px;
  border-radius: 2%;
  position: relative;
}
.userAvatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.cameraBtn {
  composes: flexCenter from "../../../../global.css";
  background-color: var(--orangeBtnBgColor);
  width: 50px;
  height: 50px;
  font-size: 25px;
  border: none;
  border-radius: 2%;
  cursor: pointer;
  position: absolute;
  top: 120px;
  right: -20px;
}
.cameraBtn:hover {
  background-color: var(--lightBrownBgColor);
  color: white;
  transition: 0.5s;
}
.userNameBox {
  composes: flexCenter from "../../../../global.css";
  width: 100%;
  gap: 20px;
}
.userNameBoxTitle {
  color: var(--brownColor);
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid var(--brownColor);
  padding: 3px;
}
.userNameBox div {
  display: flex;
  gap: 20px;
}
.userNameInput {
  color: var(--brownColor);
  font-family: var(--textFont);
  height: 40px;
  font-size: 20px;
  width: 300px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--brownColor);
  background-color: inherit;
}
.userNameInput::placeholder {
  color: var(--brownColor);
}
.saveBtn,
.resetBtn,
.btnBox button {
  border: none;
  font-family: var(--textFont);
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  color: var(--whiteColor);
  background-color: var(--darkOrangeBgColor);
}
.saveBtn:hover {
  color: white;
  background-color: var(--purpleBgColor);
}
.resetBox {
  composes: flexCenterColumn from "../../../../global.css";
  gap: 20px;
}
.warningBox {
  composes: flexCenterColumn from "../../../../global.css";
  width: 100%;
  gap: 10px;
}
.warningBox p {
  color: var(--darkRedColor);
  font-size: 20px;
  font-weight: 600;
}
.resetBtn {
  background-color: rgb(139, 50, 14);
}
.resetBtn:hover {
  background-color: var(--darkRedColor);
}
.btnBox {
  composes: flexCenter from "../../../../global.css";
  gap: 20px;
}
.btnBox :nth-child(1) {
  background-color: green;
}
.btnBox :nth-child(2) {
  background-color: red;
  width: 48px;
}

@media (max-width: 1188px) {
  .userNameBox {
    flex-direction: column;
  }
  .userNameBox div {
    flex-direction: column;
    align-items: center;
  }
  .userNameInput {
    width: 377px;
  }
  .settingsContainer {
    width: 65%;
    height: 65%;
  }
  .saveBtn {
    width: 77px;
  }
}
@media (max-width: 800px) {
  .settingsContainer {
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 516px) {
  .userNameInput {
    width: 100%;
  }
}
