@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geo&display=swap");

.commentsContainer{
    width: 70%;
    height: 70%;
    position: fixed;
    z-index: 55;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #0c0616;
    border-radius: 10px;

    font-family: "Geo", sans-serif;

    padding: 10px;
}


.commentsSection{
    height: 75%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}   

.singleComment{
    display: flex;
    gap: 10px;
    border-bottom: 1px solid rgb(26, 26, 26);
}

.userInfo{
    color: rgb(132, 223, 228);
    display: flex;
    gap: 10px;
    font-size: 18px;
}

.userInfo span{
    text-shadow: 0.5px 0.5px rgb(192, 184, 184);
}

.comment{
    padding: 5px 0px;
    color: rgb(174, 201, 202);
}

.userComment{
    height: 25%;
    border-top: 1px solid rgb(63, 63, 63);
    display: flex;
    align-items: center;
    gap: 20px;
}

.userAvatar, .userAvatar img{
    width: 50px;
    height: 50px;
    border-radius: 2%;
    object-fit: cover;

}

.inputBox{
    width: 100%;
    height: 90%;
    display: flex;
    gap: 10px;
}

.inputBox textarea{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    background-color: rgb(215, 217, 214);

    border: none;
    outline: none;
}

@media (max-width: 600px) {
    .commentsContainer{
        width: 90%;
    }
    .comment{
        padding-right: 10px;
    }
}
