@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geo&display=swap");

.commentsContainer{
    width: 60%;
    height: 60%;
    position: fixed;
    z-index: 5555;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #0c0616;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;

    font-family: "Geo", sans-serif;

    padding: 10px;
}


.commentsSection{
    height: 75%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}   

.singleComment{
    display: flex;
    gap: 10px;
    border-bottom: 1px solid rgb(26, 26, 26);
}

.singleComment p{
    color: rgb(163, 217, 190);
}

.comment{
    padding: 10px;
    color: rgb(174, 201, 202);
}

.userComment{
    height: 25%;
    border-top: 1px solid rgb(63, 63, 63);
    display: flex;
    align-items: center;
    gap: 20px;
}

.userAvatar, .userAvatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    object-fit: cover;

}

.inputBox{
    width: 100%;
    height: 90%;
    display: flex;
    gap: 10px;
}

.inputBox textarea{
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    background-color: rgb(215, 217, 214);

    border: none;
    outline: none;
}

.sendIcon{
    background-color: unset;
    border: none;
    font-size: 20px;
    color: rgb(215, 217, 214);
    align-self: flex-start;
}

.sendIcon:hover{
  color: rgb(144, 255, 129);
}
