.miniGames {
  position: absolute;
  width: 90vw;
  height: 88vh;
  top: 12vh;
  bottom: 0;
  left: 5vw;
  row-gap: 65px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  overflow-y: scroll;
  background-color: green;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #161616;
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #187391;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55cdf6;
}

@media screen and (max-width: 570px) {
  /* width */
  ::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #161616;
    border-radius: 30px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #187391;
    border-radius: 30px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #55cdf6;
  }
}
