/* '../../../../global.css' */

.artGames {
  position: relative;
  width: 100%;
  height: 100%;
}
.artGamesDiv {
  position: absolute;
  top: 12vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 80vw;
  height: 70vh;

  transition: 0.8s;
  overflow-y: scroll;
}
.scroll_div {
  width: 10vw;
  position: absolute;
  right: 0;
  bottom: 20vh;
}
/* width */
.artGamesDiv::-webkit-scrollbar {
  display: none;
}

@media (max-width: 600px) {
  .artGamesDiv {
    height: 80vh;
    width: 90%;
  }
  .scroll_div {
    width: 5%;
  }
}
