/* '../../../../global.css' */

.artGames {
  position: absolute;
  top: 12vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 80vw;
  height: 70vh;

  transition: 0.8s;
  opacity: 0;
  overflow-y: scroll;
}
/* width */
.artGames::-webkit-scrollbar {
  display: none;
}

@media (max-width: 600px) {
  .artGames {
    height: 80vh;
    width: 90%;
  }
}
