
.loginAndRegistrationForm {
  composes: flexCenterColumn from '../../global.css';
  position: fixed;
  z-index: 100;

  width: min-content;
  height: min-content;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}
.centerContainer {
  composes: flexCenter from '../../global.css';
  width: 90vw;
  height: min-content;
  padding: 30px;

  gap: 6px;
}

.formContainer {
  composes: flexCenterColumn from "../../global.css";
  width: 100%;
  background-color: rgb(200, 233, 245);
}

.formTitle {
  text-align: center;
  letter-spacing: 2px;
  color: var(--fadedBlueColor);

  font-family: var(--mainFont);
  font-size: 25px;
}

.userInputDiv {
  width: 60%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.userInputTitle {
  color: var(--fadedBlueColor);
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: var(--mainFont);

  width: 44%;
  text-align: right;
}

.userInput {
  color: var(--brownColor);
  font-family: var(--textFont);
  width: 50%;
  height: 27px;

  font-size: 26px;

  border: none;
  outline: none;
}

.submitButton {
  width: 30%;
  height: 40px;
  margin-left: 70%;
  margin-top: 5%;
  border: none;

  font-family: var(--mainFont);
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;

  transition: 0.3s;
  color: rgb(204, 218, 245);
  background-color: rgb(28, 90, 110);
}

.submitButton:hover {
  color: white;
  background-color: var(--darkBgColor);
}

@media (max-width: 1500px) {
  .userInputDiv {
    width: 70%;
  }

  .userInput {
    height: 23px;
  }
}
@media (max-width: 1280px) {
  .centerContainer {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }

  .formContainer {
    width: 69.5%;
  }
}

@media (max-width: 940px) {
  .formContainer {
    width: 89.5%;
  }
}
@media (max-width: 730px) {
  .formContainer {
    width: 96.5%;
  }
  .userInputDiv {
    gap: 0;
  }
  .userInputTitle {
    font-size: 20px;
    width: 40%;
  }
  .formTitle {
    font-size: 28px;
  }
  .submitButton {
    width: 60%;
    margin-left: 40%;
  }
}
@media (max-width: 650px) {
  .submitButton {
    width: 100%;
    margin-left: 0%;
  }
}
@media (max-width: 500px) {
  .userInputDiv{
    width: 100%;
    flex-direction: column;
  }
  .userInputTitle{
    width: 100%;
    text-align: center;
  }
  .userInput{
    width: 80%;
  }
}