.gameContainer {
  position: relative;
  width: 48%;
  height: 42%;
}

.gameBackgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  opacity: 0.2;
  filter: grayscale(100%);
}
.gameBackgroundImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: var(--thirdLayer);
}

.name {
  font-family: var(--mainFont);
  color: var(--skyBlueColor);
  font-weight: 900;
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
}

.shortDescription {
  color: var(--neonBlueColor);
  font-family: var(--textFont);
  font-size: 33px;
  width: 90%;
  line-height: var(--normalHeight);
}

.buttonsBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

@media (max-width: 1200px) {
  .gameContainer {
    width: 48%;
    height: 72%;
  }
}

@media (max-width: 850px) {
  .gameContainer {
    width: 100%;
    height: 72%;
  }
}

@media (max-width: 650px) {
  .gameContainer {
    height: 82%;
  }
}

@media (max-height: 600px) {
  .gameContainer {
    width: 100%;
    height: 102%;
  }
}
@media (max-height: 492px) {
  .gameContainer {
    height: 122%;
  }
}

@media (max-width: 320px) {
  .buttonsBox {
    flex-direction: column;
  }
  .name {
    line-height: 40px;
  }
}
